<h1>Generate Short Url</h1>

<p id="notice"><%= notice %></p>

<%= form_for(@short_url,remote: true,format: :js)  do |f| %>
  <div id="error_explanation">
  
  </div>

  <div class="field">
    <%= f.label :original_url,"Enter the url" %><br>
    <%= f.text_field :original_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

Short Url Generated:

<div class="shorturl" id="shorturl">

</div>

# <h1>Listing Short Urls</h1>

# <table>
#   <thead>
#     <tr>
#       <th>Original url</th>
#       <th>Short code</th>
#       <th>Sanitize url</th>
#       <th>View count</th>
#     </tr>
#   </thead>

#   <tbody>
#     <% @short_urls.each do |short_url| %>
#       <tr>
#         <td><%#= short_url.original_url %></td>
#         <td><%#= short_url.short_code %></td>
#         <td><%#= short_url.sanitize_url %></td>
#         <td><%#= short_url.view_count %></td>
#       </tr>
#     <% end %>
#   </tbody>
# </table>

# <br>