<h1> Analytics: </h1>
<br>
<%@short_urls.each do |url|%>
    <div class='stat-div'>
        <p><b><%=url.original_url%></b></p>
        <p><a href='/visit/<%=url.short_code%>'><%=request.base_url + '/visit/' + url.short_code%></a></p>
        <p>Total Clicks: <%=url.view_count%></p>
        <p>Top Countries: <%=url.visits.pluck(:country).uniq.join(',')%></p>
    </div>
    <hr/>
<%end%>